<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<style type="text/css">
		.grid{
			margin:  auto;
			width: 500px;
			text-align: center;
		}
		.grid table{
			width: 100%;
			/* height: 200px; */
			border-collapse: collapse;
		}
		.gird th {
			padding: 10;
			border: 1px dashed orange;
			height: 35px;
			line-height: 35px;
		}
		.grid th{
			/* background: orange; */
		}
		.total{height: 30px;line-height: 30px;background: orange;border-top: 1px solid black;border-bottom:0.0625rem solid black ;}
	</style>
	<body>
		<div id="app">
			<div class="grid">
				<h2>图书管理系统</h2>
				<div style="background: #FFA500;height: 26px; border-bottom: 1px solid antiquewhite;">
					<div id="book">
						<div>
							<label for="id">
								编号:
							</label>
							<input type="text" id="id" v-model="id" :disabled="flag" v-focus/>
							<label for="name">
								名称:
							</label>
							<input type="text" id="id" v-model="name"/>
							<button @click='handle' :disabled="submitFlag">提交</button>
						</div>
					</div>
				</div>
				<div class="total">
					<span>
						图书总数：
						<span>
						{{total}}	
						</span>
					</span>
				</div>
				<table>
				<thead>
					<tr style="border-bottom: 2px solid black; background: #FFA500;">
						<th>编号</th>
						<th>名称</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr :key="item.id" v-for="item in books" style="border: 1px dashed orange;height: 40px;">
						<th>{{item.id}}</th>
						<th>{{item.name}}</th>
						<th>{{item.date | format('yyyy-MM-dd hh:mm:ss')}}</th>
						<th>
							<a href="" @click.prevent="toEdit(item.id)">修改</a>
							<span>|</span>
							<a href="" @click.prevent="deleteBook(item.id)">删除</a>
						</th>
					</tr>
					</tbody>
				</table>
				
			</div>
		</div>
		<script src="vue.js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="vue.js"></script>
		<script type="text/javascript">
			Vue.directive('focus', {
			  inserted: function (el) {
			    el.focus();
			  }
			});
			Vue.filter('format', function(value, arg) {
			  function dateFormat(date, format) {
			    if (typeof date === "string") {
			      var mts = date.match(/(\/Date\((\d+)\)\/)/);
			      if (mts && mts.length >= 3) {
			        date = parseInt(mts[2]);
			      }
			    }
			    date = new Date(date);
			    if (!date || date.toUTCString() == "Invalid Date") {
			      return "";
			    }
			    var map = {
			      "M": date.getMonth() + 1, //月份 
			      "d": date.getDate(), //日 
			      "h": date.getHours(), //小时 
			      "m": date.getMinutes(), //分 
			      "s": date.getSeconds(), //秒 
			      "q": Math.floor((date.getMonth() + 3) / 3), //季度 
			      "S": date.getMilliseconds() //毫秒 
			    };
			    format = format.replace(/([yMdhmsqS])+/g, function(all, t) {
			      var v = map[t];
			      if (v !== undefined) {
			        if (all.length > 1) {
			          v = '0' + v;
			          v = v.substr(v.length - 2);
			        }
			        return v;
			      } else if (t === 'y') {
			        return (date.getFullYear() + '').substr(4 - all.length);
			      }
			      return all;
			    });
			    return format;
			  }
			  return dateFormat(value, arg);
			})
			var vm = new Vue({
				el:'#app',
				data:{
					flag:false,
					submitFlag: false,
					id:'',
					name:'',
					dd:'',
					books:[]
				},
				methods:{
					handle:function(){
						if(this.flag){
							this.books.some((item) =>{
								if(item.id == this.id){
									item.name = this.name;
									item.dd = this.dd;
									return true;
								}
							});
							this.flag = false;
							}else{
								var book = {};
						        book.id = this.id;
						        book.name = this.name;
						        book.dd = this.dd;
						        book.date = '';
						        this.books.push(book);
						        this.id = '';
						        this.name = '';
						        this.dd = '';
							}
						this.id = '';
						this.name = '';
						this.dd = '';
						},
						toEdit: function(id){
							this.flag = true;
							console.log(id)
							var book = this.books.filter(function(item){
								return item.id == id;
							});
							console.log(book)
							this.id = book[0].id;
							this.name = book[0].name;
							this.dd = book[0].dd;
					},
					deleteBook: function(id){
						var index = this.books.findIndex(function(item){
							return item.id == id;
						});
						this.books.splice(index,1);
					}
				},
					computed: {
					  total: function(){
					    return this.books.length;
					  }
					},
					watch: {
					  name: function(val) {
					    var flag = this.books.some(function(item){
					      return item.name == val;
					    });
					    if(flag) {
					      this.submitFlag = true;
					    }else{
					      this.submitFlag = false;
					    }
					  }
					},
					mounted: function(){
						var data = [
							{
								id:1,
								name:'三国演义',
								date:2525609975000,
							},{
								id:2,
								name:'水浒传',
								date:2525609975000,
							},{
								id:3,
								name:'红楼梦',
								date:2525609975000,
							},{
								id:4,
								name:'西游记',
								date:2525609975000,
							}];
							this.books = data;
					}
			});
		</script>
	</body>
</html>
